# .coveragerc to control coverage.py
[run]
branch = True
source =
    src
omit =
    test_*.py
    *_test.py
    src/server.py
    src/database.py
    src/schema.py
    src/error.py
    src/config.py
    */__init__.py
